.weather-container {
    background-color: #fcfdfd;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.weather-container h2 {
    color: #555;
}

.weather-container button:disabled {
    background-color: #eff1f4;
    cursor: not-allowed;
}

.weather-container button {
    margin-top: 10px;
}

.weather-container input {
    margin-right: 10px;
}
